
<div style="padding:50px">
    <h1>Forgot Password Page</h1>

    <div style = "background-color:red; color:black">{{message}}</div><br>

    <form method="post" action="/user/auth_forget">
        Enter your User Name: <input type = "text" name = "user_name"><br>
        Enter your email address: <input type = "text" name = "email"><br>
        <button>Next</button>
    </form>
</div>
