
<div>
    <img src="/imgs/header.png" alt="header" style="height:300px;width:100%;">

    <div style="position:absolute; top:118px; left: 145px; color:white">
        <p><font size="7"><strong>Glean</strong></font></p>
        <p><font size="6">MAKE DONATIONS DAILY WITH YOUR CHANGE.</font></p>

        <form action="/about" style="color:black">
            <input class="btn btn-primary" type="submit" value="Learn More">
        </form>
    </div>

    <div style="margin-left:10%;margin-right:10%;margin-top:50px;padding:20px">
        <p><font size="6"><strong>Easy, safe, and secure.</strong></font></p>
        <p><font size="5">    Glean, a change to charity program that will help you feel that little goodness, those warm fuzzies for putting your money to good use. You make a purchase, Glean rounds up the cost, subtracts the actual purchase from the cost, and that difference goes to a charity of your choice! Glean does this by integrating into your bank account and keeping track of the charges you make. </font></p>
    </div>

    <div style="margin-left:10%;margin-right:10%;margin-top:50px;padding:20px">
        <p><font size="6"><strong>See the impact you are making.</strong></font></p>
        <p><font size="5">Every time you makes a purchase, the difference in change to the nearest dollar is donated to a charity of choice. Glean takes away the hassles of dealing with change when balancing checkbooks, and helps anyone with credit or debit cards easily give to charities in need. These microdonations add up overtime, and Glean will elegantly present donations accumulated to better help you see the impact you are making.</font></p>
    </div>

    <div style="margin-left:10%;margin-right:10%;margin-top:50px;padding:20px">
        <p><font size="6"><strong>Use Glean today!</strong></font></p>
        <p><font size="5">Glean can be used whenever you make a credit/debit card transation at your favorite retailer! For personal use, you can use Glean when doing everyday purchases, from shopping for groceries to taking the family out for dinner. For work, companies can have their employees use Glean while using their corporate cards, and your company can show off its philanthropic side. Glean is a versitile application in corporating all aspects of your life for charitable giving!</font></p>
    </div>
</div>


